{{#with album}}
<div class="album-view">
	<section class="short-link-form cf">
		<p>Get your friends to contribute: <input type="text" id="shortLink" name="shortLink" class="no-edit autohighlight" value="{{links.web}}" /> <a id="shortLinkCopy">Copy to clipboard</a></p>
		{{!-- <label for="shortLink">Get your friends to contribute:</label>
		<input type="text" id="shortLink" name="shortLink" class="no-edit autohighlight" value="{{links.web}}" />
		<button type="button" id="shortLinkCopy" data-clipboard-text="{{links.web}}">Copy</button> --}}
	</section>
	<div class="images" id="existingAlbumDropzone">
		{{#each files}}
		<a class="image" href="{{links.web}}" style="background-image:url({{links.imageW288}})"></a>
		{{/each}}
	</div>
</div>
{{/with}}

<div id="newImagePreviewTemplate" style="display: none;">
	<div class="dz-preview dz-file-preview image">
		<img class="image" data-dz-thumbnail />
		<div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
	</div>
	{{!-- <div class="dz-preview dz-file-preview">
		<div class="dz-details">
			<div class="dz-filename"><span data-dz-name></span></div>
			<div class="dz-size" data-dz-size></div>
		</div>
		<div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
		<div class="dz-success-mark"><span>✔</span></div>
		<div class="dz-error-mark"><span>✘</span></div>
		<div class="dz-error-message"><span data-dz-errormessage></span></div>
	</div> --}}
</div>