<div class="album-list empty">
	<div class="signUpView">
		{{#if user}}
		{{else}}
		<section id="signUp" class="one-line-form cf">
			<form id="signUpForm">
				<label for="signUpEmail">Sign up to use Picnic on other devices:</label>
				<input type="email" placeholder="you@example.com" id="signUpEmail" name="email">
				<input type="password" placeholder="password" id="signUpPassword" name="password">
				<input type="submit" class="button primary" id="signUpInput" value="Sign up">
			</form>
		</section>
		{{/if}}
	</div>
	{{#each albums}}
	<a class="album-list-item images cf one-line internal-link" href="{{links.web}}">
		<header class="album-list-item-header cf">
			<h2>{{{albumNameOrDefaultInList}}}</h2>
			<span class="album-list-item-url">{{links.web}}</span>
		</header>
		{{#each files}}
		<div class="image">
			<div style="background-image:url({{links.imageW288}})"></div>
		</div>
		{{/each}}
	</a>
	{{/each}}
	<div class="empty-state hidden">
		<div class="row album-images">
			<form class="new-album-dropzone" id="albumDropzone">
				<div class="dz-message">
					<div class="dz-message-empty dz-message">
						<div class="dz-message">
							<p class="dz-message">You don't have any albums yet!</p>
							<p class="instruction dz-message res-not-hh">Drop in some images to create one now.</p>
							<a class="button primary" id="addImagesButton"><span class="res-hh">Upload images to get started</span><span class="res-not-hh">Or click here to choose images</span></a>
							{{#if user}}
							{{else}}
							<p class="dz-message">Or <a href="/sign-in" class="signInModalLink">click here to sign in</a>.</p>
							{{/if}}
						</div>
					</div>
					<div class="dz-message-hovered dz-message">
						<div class="dz-message">
							<p class="dz-message"><span class="instruction dz-message">Drop it</span> like it's hot</p>
						</div>
					</div>
					<div class="dz-message-populated dz-message">
						<div class="dz-message">
							<p class="instruction dz-message">Here they go!</p>
						</div>
					</div>
				</div>
				<div class="images cf" id="newAlbumImagePreviewsContainer">
				</div>
			</form>
		</div>
	</div>
</div>

<div id="newAlbumImagePreviewTemplate" style="display: none;">
	<div class="image">
		<span class="hidden" data-dz-name></span>
		<div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
	</div>
</div>