{{#with album}}
<div class="album-view" id="existingAlbumDropzone">
	<div class="images cf">
		<h2 class="album-heading">{{{albumNameOrDefault @root.album}}}</h2>
		<div class="album-action-list cf">
			{{#if links.delete}}<a class="album-action-list-item" id="deleteAlbum">Delete<span class="res-not-hh"> album</span></a>{{/if}}
		</div>
		<section class="short-link-form cf">
			<p>Get your friends to contribute: <input type="text" id="shortLink" name="shortLink" class="no-edit autohighlight wide-on-hh" value="{{links.web}}" /> <a href="{{links.web}}" id="shortLinkCopy" class="button primary wide-on-hh"><span class="res-not-hh copy-available">Copy to clipboard</span><span class="res-hh copy-available">Copy link to clipboard</span><span class="copy-not-available">Share: {{links.web}}</span></a></p>
		</section>
		<div id="newImagePreviewsContainer">
			{{#each files}}
			<div class="image">
				<a class="internal-link" href="{{links.web}}" style="background-image:url({{links.imageW288}})"></a>
			</div>
			{{/each}}
		</div>
		<div class="new-image-button">
			<a id="newImageButton"></a>
		</div>
	</div>
</div>
{{/with}}

<div class="share-hint hidden">
	<p class="share-hint-in-chrome"></p>
	<p class="share-hint-in-safari"></p>
</div>

<div id="newImagePreviewTemplate" style="display: none;">
	<div class="image">
		<div class="image-inner"></div>
		<span class="hidden" data-dz-name></span>
		<div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
	</div>
	{{!-- <div class="dz-preview dz-file-preview">
		<div class="dz-details">
			<div class="dz-filename"><span data-dz-name></span></div>
			<div class="dz-size" data-dz-size></div>
		</div>
		<div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
		<div class="dz-success-mark"><span>✔</span></div>
		<div class="dz-error-mark"><span>✘</span></div>
		<div class="dz-error-message"><span data-dz-errormessage></span></div>
	</div> --}}
</div>